
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.container{
    padding: 2rem;
    font-family: 'Oswald', sans-serif;
    background-color: aquamarine;
    display: flex;
    color: rgb(3, 3, 3);
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
   }
.box{
     box-shadow: 1px 0px 59px 56px rgba(0,0,0,0.92);
-webkit-box-shadow: 1px 0px 59px 56px rgba(0,0,0,0.92);
-moz-box-shadow: 1px 0px 59px 56px rgba(0,0,0,0.92);
}

.container2{
    font-family: 'Oswald', sans-serif;
  
    background-color: rgb(0, 246, 164);
    display: flex;
    color: rgb(3, 3, 3);
    flex-direction: column;
    align-items: center;
 
    justify-content: center;
}
.conversacion {
display: flex;
flex-direction: column;
align-items:center ;
justify-content: center;
align-content: center;
}

input {
    border-radius: 10px;
    max-height: 50px;
    max-width: 300px;
}
button {
    width: 150px;
    border-radius: 10px;

    background-color: blanchedalmond;
    margin: 1rem;
}